.footer-distributed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--text);
  padding: 2rem 5rem;
  height: 30vh;
  margin-top: 100px;

}

.footer__left {
  flex: 0.7;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__description {
  font-size: 1rem;
}

.footer__center {
  flex: 1;
  text-align: center;
}

.footer__icon {
  font-size: 4rem;
  cursor: pointer;
}
.footer__icon:hover {
  color: #28b24b;
}

.footer__location {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.footer__copyright {
  font-size: 0.8rem;
}

.footer__right {
  flex: 0.7;
  display: flex;
  justify-content: space-around;
}

.footer__social-icon {
  font-size: 3rem;
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.footer__social-icon--facebook:hover {
  color: gray;
}

.footer__social-icon--linkedin:hover {
  color: #2867b2;
}

@media (max-width:950px) {
  .footer-distributed {
    flex-direction: column;
    row-gap: 3rem;
    padding: 2rem;
    height: auto;
  }

  .footer__left {
    order: 3;
  }

  .footer__right {
    column-gap: 2rem;
  }

}