.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
    text-align: center;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header__h1 {
    font-weight: var(--text-ligth);
    text-align: center;
    font-size: 6vw;
    color: black;
}
.header__h1>ul {
    transition: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__h1>ul li {
    list-style: none;
    font-weight: 500;
    letter-spacing: 2-5vw;
    color: var(--letter);
    text-shadow: var(--trancicion);
    animation: anim 3s infinite linear;
}

/* @keyframes anim {
    0% {
        color: var(--trancicion);
        text-shadow: var(--trancicion);
    }
    25% {
        color: var(--golden);
        text-shadow: 0 0 1vw var(--golden), 0 0 3vw rgb(255, 123, 0);
    }
    50% {
        color:var(--golden);
        text-shadow: 0 0 1vw var(--golden), 0 0 3vw rgb(255, 123, 0);
    }
    75% {
        color:var(--golden);
        text-shadow: 0 0 1vw var(--golden), 0 0 3vw rgb(255, 123, 0);
    }
    100% {
        color: var(--trancicion);
        text-shadow: var(--trancicion);
    }
}
.header__h1>ul li:nth-child(1) {
    animation-delay: .2s;
}
.header__h1>ul li:nth-child(2) {
    animation-delay: .4s;
}
.header__h1>ul li:nth-child(3) {
    animation-delay: .6s;
}
.header__h1>ul li:nth-child(4) {
    animation-delay: .8s;
}
.header__h1>ul li:nth-child(5) {
    animation-delay: 1s;
}
.header__h1>ul li:nth-child(6) {
    animation-delay: 1.2s;
}
.header__h1>ul li:nth-child(7) {
    animation-delay: 1.4s;
}
.header__h1>ul li:nth-child(8) {
    animation-delay: 1.6s;
}
.header__h1>ul li:nth-child(9) {
    animation-delay: 1.8s;
}
.header__h1>ul li:nth-child(10) {
    animation-delay: 2s;
} */
.header__h2 {
    font-weight: var(--text-bold);
    text-transform: uppercase;
    text-align: center;
    width: 70%;
    font-size: 5vw;
}

.div--contact {
    display: flex;
    gap: 2rem;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.div__a {
    background-color: var(--bg-secondary);
    color: var(--text);
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
    transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var(--text);
        color: var(--bg);

    }
}

.morph {
    content: '';
    width: 35vw;
    height: 35vw;
    background-color: red;
    position: absolute;
    z-index: -1;
    border-radius: 70% 30% 30% 70%;
    background: linear-gradient(var(--morph1), var(--morpht2));
    filter: blur(130px);
    animation: morph 5s infinite linear;
    will-change: transform;
}

@keyframes morph {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(130deg) scale(0.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;

}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: var(--bubbles1);
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #59d36d44, 0 0 50px #66eb66, 0 0 100px #47bb6e;
    animation: animate 25s linear infinite;
    animation-duration: calc(600s / var(--i));
    z-index: -1;
}

.bubbles span:nth-child(even) {
    background: var(--bubbles2);
    box-shadow: 0 0 0 10px #2de6ff44, 0 0 50px #2ddfff, 0 0 100px #2ddfff;
}

@keyframes animate {
    100% {
        transform: translateY(100vh) scale(0) ;
    }

    30% {
        transform: translateY(70vh)  scale(0.5) ;
    }

    50% {
        transform: translateY(50vh) scale(-1);
    }

    70% {
        transform: translateY(-30vh) scale(0.5) ;
    }

    0% {
        transform: translateY(-50vh)  scale(2) ;
    }
}

@media (max-width:550px) {
    .header {
        row-gap: 5vh;
    }

    h1 {
        font-size: 10vw;
    }

    .header__h2 {
        font-size: 10vw;
        width: 90%;
    }

    .div--contact {
        flex-direction: column;
        gap: 1rem;
    }
    .div__a {
        padding: 0.7rem 0.9rem;
    }
    .morph {
        width: 88vw;
        height: 88vw;
    }
}

@media (max-width:780px) {
    .bubbles span {
        width: 30px;
        height: 30px;
    }
}