.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 0 2em 0;
    overflow: hidden;
  }

  .section {
    width: 90%;
    max-width: 1000px;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }
  
  .section__h2,
  .section__h3 {
    margin-top: 5vh;
    font-size: 2rem;
    margin-bottom: 0.1em;
    font-weight: bold;
    text-align: center;
    color: var(--text);
    text-align: center;
  }
  
  .section__p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 0.5em;
    color: var(--text);
    text-align: center;
  }
  
  .section__ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2em;
  }
  
  .section__li {
    flex: calc(50% - 2em);
    background-color: var(--text);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 2px 4px rgba(223, 14, 14, 0.1);
    transition: transform 0.5s;
    color: var(--bg-secondary);
  }
  
  .section li strong {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--bg-secondary);
    font-weight: var(--font-bold);
    text-align: center;
  }
  
  .section li span {
    text-align: center;
  }
  
  .section li:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .section li:active {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .section__div-div {
      margin-top: 30px;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .section__h2 {
      text-align: center;
      margin: 10px 0 10px 0;
  }
  
  .section__ul-container{
      height: 150px;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      perspective: 500px;
      list-style:none;
  }
  
  .tech-card__front:nth-child(1) {
      color: var(--golden);
  }
  .tech-card__front:nth-child(2) {
      color: var(--morph1);
  }
  .tech-card__front:nth-child(3) {
      color: var(--morpht2);
  }
  .tech-card__front:nth-child(4) {
      color: var(--sombra);
  }
  .tech-card__front:nth-child(5) {
    color: var(--clr);
}
.tech-card__front:nth-child(6) {
    color: var(--wihte);
}
  
  .logo1{
      width: 45px;
      height: 88px;
      background: url(/img/logohtml.png);
      background-position: center;
      background-size: cover;
      position: absolute;
      top: -10px;
      filter: drop-shadow(0px 15px 15px #ff0000);
      animation: rotar 7s linear infinite;
  }
  .logo2{
      width: 45px;
      height: 88px;
      background: url(/img/logojs.png);
      background-position: center;
      background-size: cover;
      position: absolute;
      top: -10px;
      filter: drop-shadow(0px 15px 15px yellow);
      animation: rotar 7s linear infinite;
  }
  .logo3{
      width: 45px;
      height: 88px;
      background: url(/img/logocss.png);
      background-position: center;
      background-size: cover;
      position: absolute;
      top: -10px;
      filter: drop-shadow(0px 15px 15px blue);
      animation: rotar 7s linear infinite;
  }
  .logo4{
      width: 45px;
      height: 88px;
      background: url(/img/logogit.png);
      background-position: center;
      background-size: cover;
      position: absolute;
      top: -10px;
      filter: drop-shadow(0px 15px 15px rgb(255, 136, 0));
      animation: rotar 7s linear infinite;
  }
  .logo5{
    width: 45px;
    height: 88px;
    background: url(/img/logoReact.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -10px;
    filter: drop-shadow(0px 15px 15px rgb(6, 221, 236));
    animation: rotar 7s linear infinite;
}
.logo6{
    width: 45px;
    height: 88px;
    background: url(/img/logoNodeJs.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -10px;
    filter: drop-shadow(0px 15px 15px rgb(47, 236, 9));
    animation: rotar 7s linear infinite;
}  
  .section__div-ul:hover{
      cursor: pointer;
  }
  
  @keyframes rotar{
      from{
          transform: rotateY(0deg);
      }
      to{
          transform: rotateY(-360deg);
      }
  }
  
  .bottom_part{
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -4px;
      background: #242424;
      border-radius: 50%;
      box-shadow: inset 0px 0px 10px 10px #11111136;
      transform: rotateX(90deg);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .bottom_part::before{
      content: "";
      width: 2px;
      height: 2px;
      position: absolute;
      bottom: 1px;
      background: var(--sombra);
      border-radius: 50%;
      box-shadow: inset 0px 0px 10px 10px #11111136;
      filter: blur(60px);
      animation: Animate 1s linear infinite;
      cursor: pointer;
  }
  
  @keyframes Animate {
      from{
          width: 10rem;
          height: 10rem;
      }
      50%{
          width: 7rem;
          height: 7rem;
      }
      to{
          width: 10rem;
          height: 10rem;
      }
  }
  .section__div {
      display: grid;
      grid-template-columns: repeat(6, 5fr);
      grid-template-rows: repeat(1, 5fr);
      gap: 40%;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
  }
  
  @media (max-width:950px) {
      .section__div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          justify-content: center;
          align-items: center;
      }
  }
  
  @media (max-width:780px) {
      .section__div-div {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(4, 1fr);
          justify-content: center;
          align-items: center;
      }
  }
  
  @media (max-width:750px) {
      .section__ul {
          display: flex;
          flex-wrap: wrap;
        }
  }